{% comment %}
The first section creates an array of page urls that are page urls of this collection. They then are compared to all page urls in the list below.
{% endcomment %}
{% assign col = site.collections | where: "label", page.collection | first %}
{% for p in col.docs %}
  {% if forloop.first %}
    {% assign pgs = p.url %}
  {% else %}
    {% assign pgs = pgs | append: "," | append: p.url %}
  {% endif %}
{% endfor %}
{% assign pgs = pgs | split: "," %}
<nav class="sidenav sn-contents" label="Page Structure" id="contents">
  <div class="sidenav--head"><div class="sidenav--head-icon">{% if col.icon %}{% include icon.html name=col.icon class="sidenav--head-icon--inner" %}{% endif %}</div><div class="sidenav--head-title"><div class="sidenav--head-section">{{col.area}}</div><div class="sidenav--head-subsection">{% if col.shortname %}{{ col.shortname }}{% else %}{{ col.name }}{% endif %}</div>
    </div>
  </div>
  <ul class="sidenav--list">
    {% assign my_pages = site.documents | sort: "order" %}
    {% for my_page in my_pages %}
      {% unless my_page.nosidenav %}{% if pgs contains my_page.url %}
      <li><a class="page-link" {% if my_page.url == page.url %} aria-current="page" {% endif %} href="{{ my_page.url | prepend: site.github.url }}">{% if my_page.nav_title %}{{ my_page.nav_title }}{% else %}{{ my_page.title }}{% endif %}</a></li>
      {% endif %}{% endunless %}
    {% endfor %}
  </ul>
</nav>