<div class="video-container" data-video-type="">
  <video preload="metadata" data-youtube-id="{{include.yt-id}}" width="450">
    {% assign captions = include.captions | split: ',' %}{% for caption in captions %}{% assign c = caption | split: '|' %}<track src="../cc/{{c[0]}}" label="{{c[2]}}" kind="captions" srclang="{{c[1]}}" default="" />{% endfor %}
    {% assign descriptions = include.descriptions | split: ',' %}{% for desc in descriptions %}{% assign d = desc | split: '|' %}<track src="../cc/{{d[0]}}" label="{{d[2]}}" kind="descriptions" srclang="{{d[1]}}" default="" />{% endfor %}
  </video>
</div>
{% if include.yt-id-ad %}
<div class="video-container" data-video-type="audio-described">
  <video preload="metadata" data-youtube-id="{{include.yt-id-ad}}" width="450">
    {% assign captions = include.captions-ad | split: ',' %}{% for caption in captions %}{% assign c = caption | split: '|' %}<track src="../cc/{{c[0]}}" label="{{c[2]}}" kind="captions" srclang="{{c[1]}}" default="" />{% endfor %}
    {% assign descriptions = include.descriptions-ad | split: ',' %}{% for desc in descriptions %}{% assign d = desc | split: '|' %}<track src="../cc/{{d[0]}}" label="{{d[2]}}" kind="descriptions" srclang="{{d[1]}}" default="" />{% endfor %}
  </video>
</div>
<p><button id="audio_description_button"><svg aria-hidden="true" class="icon-audio-description "><use xlink:href="{{ "/assets/images/icons.svg#icon-audio-description" | prepend: site.github.url }}"></use></svg> <span>Enable Audio Description</span></button></p>
{% endif %}